/* line 1, ../sass/partials/_nav.scss */
nav.container-fluid.view-area {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 5px -5px #ccc;
  z-index: 10;
}
/* line 9, ../sass/partials/_nav.scss */
nav.container-fluid.view-area .item {
  text-align: center;
  font-size: 1.2rem;
  display: inline-block;
  padding: 20px 0;
}

/* line 17, ../sass/partials/_nav.scss */
#active,
#feedback,
#index {
  opacity: 0;
  position: fixed;
  top: 0;
}

/* line 25, ../sass/partials/_nav.scss */
#index:checked ~ nav [for="index"],
#active:checked ~ nav [for="active"],
#feedback:checked ~ nav [for="feedback"] {
  font-weight: bold;
}

/* line 31, ../sass/partials/_nav.scss */
input ~ article.view-area {
  display: none;
}

/* line 35, ../sass/partials/_nav.scss */
#active:checked ~ article[data-section="active"],
#feedback:checked ~ article[data-section="feedback"],
#index:checked ~ article[data-section="index"] {
  display: block;
}

/* line 1, ../sass/partials/_article.scss */
article {
  padding-top: 25px;
  padding-bottom: 15px;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  background-color: #ccc;
  text-align: center;
  padding: 50px 0;
}

/* line 5, ../sass/index.scss */
.view-area {
  max-width: 1366px;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

/* line 14, ../sass/index.scss */
#mapsList {
  opacity: 0;
  position: absolute;
}

/* line 19, ../sass/index.scss */
#mapsList:checked ~ .listContainer {
  transform: translateX(-100%);
}

/* line 23, ../sass/index.scss */
.listContainer {
  position: absolute;
  left: 100%;
  transition: transform 0.3s;
  background-color: #fff;
}
/* line 29, ../sass/index.scss */
.listContainer #listing {
  font-size: 0.8rem;
}
/* line 33, ../sass/index.scss */
.listContainer #activeDetail {
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 38, ../sass/index.scss */
.listContainer .mapsListBars {
  position: absolute;
  top: 0;
  right: calc(100% - 2px);
  padding: 2px 8px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  border: 2px solid black;
  border-right: none;
}
