/* line 1, ../sass/partials/_nav.scss */
nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 5px -5px #ccc;
}
/* line 8, ../sass/partials/_nav.scss */
nav .item {
  text-align: center;
  font-size: 1.2rem;
  display: inline-block;
  padding: 20px 0;
}

/* line 16, ../sass/partials/_nav.scss */
#active,
#feedback,
#home {
  opacity: 0;
  position: absolute;
  top: 50vh;
}

/* line 24, ../sass/partials/_nav.scss */
#home:checked ~ nav [for="home"],
#active:checked ~ nav [for="active"],
#feedback:checked ~ nav [for="feedback"] {
  font-weight: bold;
}

/* line 30, ../sass/partials/_nav.scss */
input ~ article.view-area {
  display: none;
}

/* line 34, ../sass/partials/_nav.scss */
#active:checked ~ article[data-section="active"],
#feedback:checked ~ article[data-section="feedback"],
#home:checked ~ article[data-section="home"] {
  min-height: 100vh;
  display: block;
}

/* line 1, ../sass/partials/_article.scss */
article {
  padding-top: 25px;
  padding-bottom: 15px;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  background-color: #ccc;
  text-align: center;
  padding: 50px 0;
}

/* line 5, ../sass/index.scss */
.view-area {
  max-width: 1366px;
  margin: auto;
}
